.header{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: fit-content;

    box-sizing: border-box;

    padding: 30px;

    display: flex;
    flex-direction: row;

    font-family:'Comfortaa',sans-serif, cursive;
}
.header_background{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 0px;
    box-sizing: border-box;

    background-color: white;
    transition: height 0.5s ease-in-out;
}
.title_logo{
    position: relative;
    top: 0;

    margin:0 60px;

    font-size: 24px;
    font-weight: 900;
    color: rgb(255, 52, 120);

    cursor: pointer;
}

.nav{
    display: flex;
    flex-direction: row;
}

.nav_btn{
    position: relative;

    margin-left: 24px;
    padding: 0 30px;

    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;

}
.subnav{
    position: absolute;
    top: 20px;
}
.subnav_btn{
    margin:16px 0;
    white-space: nowrap;
}
.lang{
    position: absolute;
    right: 100px;

    font-size: 14px;
    font-weight: 900;

    display: flex;
    flex-direction: row;
}
.lang .ko{
    padding: 0 5px;
}
.lang .en{
    padding: 0 5px;
    color :rgb(100, 100, 100);
}
.lang .division{
    color :rgb(100, 100, 100);
    font-size: 1px;
}

.hide{
    display: none;
}
.hidden{
    visibility: hidden;
}

.background{
    position: absolute;
    top:0; left: 0;

    width: 100%; height: 1080px;
    box-sizing: border-box;

    background-color: #eee;
}